/* База */
* {
    box-sizing: border-box;
    font: 18px "Inter";
}

html,
body {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    background: #111;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
}



/* ИЗОБРАЖЕНИЯ */

.image_content {
    max-width: 100%;
}

.image_50 {
    width: 50%;
}

.image_128x {
    width: 128px;
}



/* КОНТЕНТОВЫЕ БЛОКИ */

.content_main {
    display: grid;
    grid-template-areas: "content_left content_right";
}

.content_left {
    grid-area: content_left;
    margin-right: 16px;
}

.content_right {
    grid-area: content_right;
}

.box {
    position: relative;
}



/* Задний фон */

.bg-black {
    background-color: #181818;
}

.bg-gray_light {
    background-color: #474747;
}

.bg-gray_dark {
    background-color: #383838;
}

.bg-white {
    background-color: #F2F2F2;
}

.bg-green {
    background-color: #79AF6B;
}

.bg-green_light {
    background-color: #96DB85;
}

.bg-red {
    background-color: #96453f;
}

.bg-blue {
    background-color: #337070;
}



/* Цвета */

.black {
    color: #181818;
}

.gray_light {
    color: #474747;
}

.gray_dark {
    color: #383838;
}

.white {
    color: #F2F2F2;
}

.green {
    color: #79AF6B;
}

.green_light {
    color: #96DB85;
}

.red {
    color: #d15e56;
}

.yellow {
    color: #d1c956;
}

.link {
    color: #7cd4d4;
}



/* Оформление верхних элементов */

.top {
    width: 100%;
    font: 48px "Inter";
    font-weight: 900;
    background-color: #79AF6B;
    padding: 16px;
}

/* Оформление основного контента */

.content {
    padding: 16px;
}

/* Позиция фиксированный fixed */

.fixed {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 18px;
    padding-left: 86px;
}

/* display none - выключение элемента */

.none {
    display: none;
}



/* Кнопки */

.button {
    background-color: #212121;
    border: 0;
    border-radius: 4px;
    padding: 8px;
    color: #F2F2F2;
    transition: 0.15s;
}

.button:hover {
    background-color: #2c2c2c;
    transition: 0.15s;
}

.button:active {
    background-color: #444444;
    transition: 0.15s;
}

/* Компоненты - более большие отступы */

.component {
    padding-bottom: 2rem;
}

/* Текстовые поля (зоны) */

.textarea_full {
    width: 100%;
}

.textarea_big {
    height: 16rem;
}

/* Доп. отступы */

.box .inter,
.inter_black,
.inter_extra,
.inter_light {
    padding-bottom: 8px;
}

/* Текст */

.inter {
    font: 18px "Inter";
}

.text {
    font: 18px "Inter";
    padding-bottom: 1rem;
}

.text_black {
    font: 48px "Inter";
    font-weight: 900;
    padding-bottom: 1rem;
}

.text_extra {
    font: 22px "Inter";
    font-weight: 800;
    padding-bottom: 1rem;
}

.text_light {
    font: 14px "Inter";
    font-weight: 300;
    padding-bottom: 1rem;
}